<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.ncirl.jordandaly.classdoor">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="ie.ncirl.jordandaly.classdoor.MAPS_RECEIVE"
        android:protectionLevel="signature"></permission>

    <uses-permission android:name="ie.ncirl.jordandaly.classdoor.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--
     The following permission is not required to use
     Google Maps Android API v2, but is recommended.
    -->


    <application
        android:name="ie.ncirl.jordandaly.classdoor.ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/gradcap_color_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"


            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAxg6adtiRoEX_UYknoU6eDYGzzMy-XUTo" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/logo_gold" />

        <provider
            android:name=".MySuggestionProvider"
            android:authorities="ie.ncirl.jordandaly.classdoor.MySuggestionProvider" />

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity android:name=".SearchCourseListActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="ie.ncirl.jordandaly.classdoor.Receiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="com.parse.push.intent.DELETE" />
            </intent-filter>
        </receiver>


        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name=".Login" />
        <activity android:name=".CreateAccount" />
        <activity android:name=".CollegeListActivity" />
        <activity android:name=".CollegeSingleItem" />
        <activity android:name=".CourseListActivity" />
        <activity android:name=".CourseSingleItem" />
        <activity android:name=".CollegeReviewListActivity" />
        <activity android:name=".CourseReviewListActivity" />
        <activity android:name=".ReviewSingleItem" />
        <activity android:name=".NewReviewActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".FavouriteCollegeActivity" />
        <activity android:name=".FavouriteCourseActivity" />
        <activity android:name=".CommentListActivity" />
        <activity android:name=".CommentSingleItem" />
        <activity android:name=".NewCommentActivity" />
        <activity android:name=".NewReplyActivity" />

        <!--<activity android:name=".SearchCourseListActivity" />-->


        <!--<activity android:name=".ClubSocListActivity" />-->
        <!--<activity android:name=".ClubSocSingleItem" />-->
        <!--<activity android:name=".ClubSocReviewListActivity" />-->
        <!--<activity android:name=".ModuleListActivity" />-->
        <!--<activity android:name=".ModuleSingleItem" />-->
        <!--<activity android:name=".ModuleReviewListActivity" />-->
    </application>
</manifest>
